name: Auto Assign PRs

on:
  pull_request:

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    permissions: 
      pull-requests: write
    steps:
    - name: 'Auto-assign issue'
      uses: pozil/auto-assign-issue@v1
      if: ${{ contains(github.actor, '[bot]') == false }}
      with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: ${{ github.actor }}
  
